<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whoam I?</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Who am I?</h1>
        <p>Are you curious about your nationality? Then look no further! Just enter your name and find out what nationality you are!</p>
        <form action="/nationalize" method="post">
            <input class="input-field" type="text" name="name" placeholder="Please enter a name" required>
            <button class="submit-button" type="submit">Submit</button>
        </form>
    </div>
</body>
</html> 